.features {
    display: flex;
    flex-direction: row;
    width: 1097px;
    justify-content: space-between;
    margin-top: 159px;
    margin-bottom: 157px;
    .features1 {
        display: flex;
        flex-direction: row;
        #features1__img1 {
            width: 36px;
            height: 36px;
            margin-right: 23px;
        }
        .features1__text1 {
            #features1__text1__t1 {
                font-family: 'Karla', sans-serif;
                font-size: 21px;
                font-weight: 900;
                color: #000000;   
                margin: 0;   
                padding: 0; 
                margin-bottom: 7px;        
            }
            #features1__text1__t2 {
                font-family: 'Karla', sans-serif;
                font-size: 17px;
                font-weight: 400;
                line-height: 28px;
                color: #666666;
                margin: 0;   
                padding: 0; 
            }
        }
    }
    .features2 {
        display: flex;
        flex-direction: row;
        #features2__img1{
            width: 36px;
            height: 36px;
            margin-right: 23px;
        }
        .features2__text1 {
            #features2__text1__t1 {
                font-family: 'Karla', sans-serif;
                font-size: 21px;
                font-weight: 900;
                color: #000000;   
                margin: 0;   
                padding: 0; 
                margin-bottom: 7px;
            }
            #features2__text1__t2 {
                font-family: 'Karla', sans-serif;
                font-size: 17px;
                font-weight: 400;
                line-height: 28px;
                color: #666666;
                margin: 0;   
                padding: 0; 

            }
        }
    }
    .features3 {
        display: flex;
        flex-direction: row;
        #features3__img1{
            width: 36px;
            height: 36px;
            margin-right: 23px;
        }
        .features3__text1 {
            #features3__text1__t1 {
                font-family: 'Karla', sans-serif;
                font-size: 21px;
                font-weight: 900;
                color: #000000;   
                margin: 0;   
                padding: 0; 
                margin-bottom: 7px;
            }
            #features3__text1__t2 {
                font-family: 'Karla', sans-serif;
                font-size: 17px;
                font-weight: 400;
                line-height: 28px;
                color: #666666;
                margin: 0;   
                padding: 0; 
            }
        }
    }
}